@font-face {
    font-family: "Lifehack-Basic";
    src: url("./fonts/Lifehack-Basic.otf");
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img/geometry2.png);
    font-size: 30px;
}

#calc-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 590px;
    height: 630px;
    margin: 100px auto 0;
    background: linear-gradient(#6486e6, #f5b2b2);
    padding: 70px 10px 20px;
    box-sizing: border-box;
    border: 0;
    border-radius: 25px;
    z-index: 998;
    box-shadow: 0px 6px 7px #04165270;
}

#display {
    display: flex;
    width: 510px;
    justify-content: space-between;
}

#calc-container .btn,
#clear {
    border: 1px solid #aa3575;
    padding: 10px 30px;
    width: 110px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: "Lifehack-Basic", serif;
    border-radius: 50px;
    background-color: #d34694;
    box-shadow: 0 0 3px rgb(0 0 0 / 70%);
    margin: 10px 0;
    cursor: pointer;
    height: 65px;
    color: white;
    user-select: none;
    box-shadow: 0px 4px 0px #2743a247;
    display: flex;
    align-items: center;
}

#calc-container .btn:hover,
#clear:active {
    /* box-shadow: 0 0 1px 0 #d34694 inset, 0 0 1px 1px #aa3575; */
    box-shadow: 0px 6px 0px #5670c493;
    background-color: #b62d78e0;
}

.btn:active,
#clear:active {
    transform: translate(0px, 3px)
}

#calc-container .btn:active {
    box-shadow: 0;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    font-family: "Lifehack-Basic", serif;
    width: 490px;
    flex-wrap: wrap;
    height: 380px;
}

#calc-container #clear {
    background-color: #614cd7;
    border: 1px solid #5942d7;
    border-radius: 25px;
}

#calc-container #clear:hover,
#calc-container .yellow:hover {
    box-shadow: 0px 4px 0px #5670c493;
    background-color: #5641ce;
}

#calc-container .yellow {
    background-color: #614cd7;
    color: white;
}

#calc-container #input {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0 0 0 / 70%);
    background-color: white;
    width: 380px;
    overflow: hidden;
    border: 1px solid #5942d7;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: "Lifehack-Basic", serif;
    margin: 10px 0;
    cursor: pointer;
    color: #614cd7;
    user-select: none;
    box-shadow: 0px 4px 0px #2743a247;
    display: flex;
    align-items: center;
}

#Bella {
    position: absolute;
    z-index: 999;
    width: 260px;
    top: -8%;
    left: 55%;
}

@media screen and (max-width: 1023px) {
    body {
        font-size: 25px;
    }
    #calc-container {
        width: 480px;
        height: 520px;
    }
    #display {
        width: 420px;
    }
    #calc-container .btn,
    #calc-container #clear {
        width: 90px;
        height: 55px;
    }
    #wrapper {
        width: 400px;
    }
    #calc-container #input {
        width: 300px;
        height: 55px;
    }
    #Bella {
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    #calc-container {
        width: 360px;
        height: 450px;
    }
    #calc-container #input {
        width: 220px;
        height: 50px;
    }
    #wrapper,
    #display {
        width: 300px;
    }
    #calc-container .btn,
    #calc-container #clear {
        width: 70px;
        height: 48px;
    }
    #Bella {
        width: 150px;
        top: -5%;
    }
}

@media screen and (max-width: 424px) {
    body {
        font-size: 20px;
    }
    #calc-container {
        width: 85%;
        height: 360px;
        padding: 40px 10px 15px;
    }
    #display,
    #wrapper {
        width: 85%;
    }
    #calc-container .btn,
    #calc-container #clear {
        width: 58px;
        height: 40px;
        padding: 10px 20px;
    }
    #calc-container #input {
        width: 70%;
        height: 40px;
    }
    #Bella {
        width: 45%;
        left: 50%;
        top: -35px;
    }
}

@media screen and (max-width: 374px) {
    body {
        font-size: 15px;
    }
    #calc-container {
        justify-content: space-between;
        height: 310px;
    }
    #calc-container .btn,
    #calc-container #clear {
        width: 52px;
        height: 30px;
    }
    #wrapper {
        height: 200px;
    }
    #Bella {
        top: -27px;
    }
    #calc-container #input {
        height: 30px;
    }
}