@font-face {
    font-family: "Lifehack-Basic";
    src: url("../fonts/Lifehack-Basic.otf");
}


body {
    margin: 0;
    padding: 0 !important;
    background-color: #f9f8e9;
    font-size: 20px;
}

#calc-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 320px;
   margin: 100px auto 0;
   background-color: #91c3ce;;
   padding: 25px 10px;
   box-sizing: border-box;
   border: 3px solid black;
   border-radius: 20px;
}

#display {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

#calc-container .btn, #clear {
    border: 1px solid black;
    padding: 10px 30px;
    width: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: "Lifehack-Basic", serif;
    border-radius: 50px;
    background-color: #cbdfe9;
    box-shadow: 0 0 3px rgb(0 0 0 / 70%);
    margin: 10px 0;
    cursor: pointer;
    height: 45px;
}

#calc-container .btn:hover {
    background-color: #b0babe !important;
    box-shadow: 0 0 3px rgb(0 0 0 / 90%) !important;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    font-family: "Lifehack-Basic", serif;
    width: 280px;
    flex-wrap: wrap;
}

#calc-container #clear {
    background-color: #e3e17e;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 25px;
    width: 70px;
}

#calc-container .yellow {
    background-color: #e3e17e;
}

#calc-container #input {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0 0 0 / 70%);
    background-color: white;
    width: 200px;
    overflow:hidden;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: "Lifehack-Basic", serif;
    margin: 10px 0;
    cursor: pointer;
}

